<%= form_for @event, :post, url: "/post_event" do |f| %>

	<h3>Summary:</h3>
	<%= f.text_field :summary %><br>

	<h3>Location:</h3>
	<%= f.text_field :location %><br>

	<h3>Start Time:</h3>
	<%= f.text_field :starttime %><br>

	<h3>End Time:</h3>
	<%= f.text_field :endtime %><br>

  	<%= f.submit %>

<% end %>